<div class="header">

</div>

<h1 class="title">Cheez Borger</h1>

<div class='form'>
    <form>
       <label for="burger">Wat kine you like?</label>
        <input type="text" id='burger' name='burger'>
        <br>
        <button class='chomp' type='submit'>Chomp Chomp</button>
    </form>
</div>

<div class='toeat'>
    <h1>I can has</h1>

    <ul>
    {{#each name}}
        {{#unless this.eaten}}
       <li>
          <span class="nameId">{{this.id}}</span>. {{this.name}} <button data-id={{this.id}} type='submit' class='submit'>EAT ME!</button>

       </li>
       
        {{/unless}}
    {{/each}}
    </ul>

</div>

<div class='eaten'>
    <h1>Iz fav!</h1>

    <ul>
    {{#each name}}
        {{#if this.eaten}}
        <li>
          <span class="nameId">{{this.id}}</span>. {{this.name}} 

       </li>
        {{/if}}
    {{/each}}
    </ul>

</div>
<div class="cat">
    
</div>